@import "tailwindcss";
@config "../tailwind.config.js";

@font-face {
  font-family: HK;
  src: url("/public/assets/fonts/TrajanPro-Regular.woff2") format("woff2");
}

@font-face {
  font-family: DM;
  src: url("/public/assets/fonts/DenimMedium.woff2") format("woff2");
}

@font-face {
  font-family: DMR;
  src: url("/public/assets/fonts/DenimRegular.woff2") format("woff2");
}
@font-face {
  font-family: GM;
  src: url("/public/assets/fonts/GraebenbachMono-Bold.woff2") format("woff2");
}
body {
  @apply bg-black-bg text-white-txt;
  font-family: var(--font-hk);
  cursor: url("/public/assets/Silksong_Cursor.cur"), auto;
}
@theme {
  --font-hk: "HK", sans-serif;
  --font-dm: "DM", sans-serif;
  --font-dmr: "DMR", sans-serif;
  --font-gm: "GM", monospace;
}

.spirit-gif {
  /* filter: drop-shadow(0px 0px 8px rgba(246, 242, 242, 0.4)); */
  /* filter: drop-shadow(0 0 12px #62e0ff); */
  filter: drop-shadow(0 0 8px #cdaaff);
  filter: brightness(1.2) contrast(0.9);
  filter: hue-rotate(10deg) saturate(1);
  mix-blend-mode: screen;
}

.spirit {
  animation: floatGlow 4s infinite ease-in-out;
}

@keyframes floatGlow {
  0% {
    transform: translateY(0);
    filter: drop-shadow(0 0 2px #fff);
  }
  50% {
    transform: translateY(-78px);
    filter: drop-shadow(0 0 6px #fff);
  }
  100% {
    transform: translateY(0);
    filter: drop-shadow(0 0 2px #fff);
  }
}

.hero-bg img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  transform: translate3d(0, 0, 0);
}

.hero-foreground {
  position: absolute;
  inset: 0;
  z-index: 6;
  pointer-events: none;
  overflow: hidden;
}

.hero-foreground img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center;
  display: block;
}

.hero-content {
  position: relative;
  z-index: 10;
  pointer-events: auto;
}
