@import "tailwindcss";
@config "../tailwind.config.js";

@font-face {
  font-family: HK;
  src: url("/assets/fonts/TrajanPro-Regular.woff2") format("woff2");
}

@font-face {
  font-family: DM;
  src: url("/assets/fonts/DenimMedium.woff2") format("woff2");
}

@font-face {
  font-family: DMR;
  src: url("/assets/fonts/DenimRegular.woff2") format("woff2");
}
@font-face {
  font-family: GM;
  src: url("/assets/fonts/GraebenbachMono-Bold.woff2") format("woff2");
}
body {
  @apply bg-black-bg text-white-txt;
  font-family: var(--font-hk);
  cursor: url("/assets/Silksong_Cursor.cur"), auto;
}
@theme {
  --font-hk: "HK", sans-serif;
  --font-dm: "DM", sans-serif;
  --font-dmr: "DMR", sans-serif;
  --font-gm: "GM", monospace;
}

.hero-bg {
  transform: scale(1.2);
}

.hero-bg img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  transform: translate3d(0, 0, 0);
}

.hero-foreground {
  position: absolute;
  inset: 0;
  z-index: 6;
  pointer-events: none;
  overflow: hidden;
}

.hero-foreground img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-origin: center;
  display: block;
}

.hero-content {
  position: relative;
  z-index: 10;
  pointer-events: auto;
  opacity: 0;
  transform: translateY(50px);
}
